.main-window {
	width: 450px;
	padding: 20px;
	font-size: 1.75em;
	background-color: #fad02c;

	@media screen and (max-width: 600px) {
		width: 100%;
		padding: 5px;
		padding-top: 20px;

		.pull-left, .pull-right {
			width: 100%;
			text-align: center;
		}

		.pull-right {
			margin-top: 20px;
		}
	}

	.btn-container {
		text-align: center;
	}

	.btn-action {
		$height: 60px;
		height: $height;
		width: $height;
		margin: 5px 20px 5px 5px;
		line-height: $height;
		text-align: center;
		border-radius: 50%;
		border: solid 1px #90adc6;
		cursor: pointer;
		transition-duration: 0.25s;
		font-size: 2rem;
		background-color: #e9eaec;

		&:hover {
			background-color: rgba($main-color, 0.2);
		}
	}
}

